* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.container_dashboard {
    width: 100%;
    max-width: 1040px;
    height: calc(100% - 70px);
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 130px; */
    margin-top: 120px;
}

.content_left {
    margin-left: 30px;
}

/* .card-header, .card-body{
    padding: 10px 0;
} */

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-header h3 {
    font-size: 17px;
    font-weight: 500;
}

.card-header button {
    background-color: rgb(6, 125, 52);
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 5px 12px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease all;
}

.card-header button:hover {
    background-color: #262626;
}

table {
    width: 520px;
    border-collapse: collapse;
}


thead tr td {
    padding: 11px 0;
}

thead tr {
    border-top: .5px solid #f0f0f0;
    border-bottom: .5px solid #f0f0f0;
}

thead td {
    font-weight: 600;
    color: #161616;
    cursor: pointer;
}

/* Scroll Table */

.card-body {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* width */
.card-body::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.card-body::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
.card-body::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 15px;
}

tbody tr {
    border-bottom: .5px solid #f0f0f0;
}

tbody tr td {
    padding: 6.5px;
    font-weight: 400;
    color: #262626;
    font-size: 14px;
}

tbody tr:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: #e9e7e7;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.status.purple {
    background-color: rebeccapurple;
}

.status.pink {
    background-color: deeppink;
}

.status.orange {
    background-color: orangered;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.chart_content {
    margin: 0 25px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}





/* --------------CHART CSS--------------- */


.apexcharts-menu.apexcharts-menu-open {
    padding: 0;
}

.bar_chart {
    padding: 10px;
}